{
    "filters": [
        {
            "radius": 5,
            "latitude": "{{ .Longitude }}",
            "longitude": "{{ .Latitude }}",
            "excludedIds": {{join .ExcludedIds}}
            "filter_type": "delivers_to_or_within_radius"
        },
        {
            "filter_type": "is_acquired"
        }
    ]
}